/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
.Sourcesans {
   font-size:30px; 
   font-family: 'Source Sans Pro', sans-serif; 
}
.textashadow {
    color:#fff;
    font-weight:900;
    text-shadow:0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}
.fontss {
   font-family: 'Source Sans Pro', sans-serif; 
   padding:10px;
}
.img-categories{
    background-size: 100% 100%;
    background-position: center;
    height:60px;
    padding:27px;
    
}
.col-lg-3{
    padding-right: inherit;
    
}
