<div class="panel panel-default" style="border-radius:0px;">
    {% if static_sec == 'current_task' %}
    <a href="/details?id={{ current_task['id'] }}" id="app-details-url" style="text-decoration:none; color: #666;">
    <div class="panel-body app-bar" id="current_task" style="padding: 9px;">
    {% elif static_sec == 'task' %}
    <a href="/details?id={{ task['details']['id'] }}" id="app-details-url" style="text-decoration:none; color: #666;">
    <div class="panel-body app-bar" id="app" style="padding: 9px;">
    {% else %}
    <div class="panel-body app-bar" id="app" style="padding: 9px;">
    {% endif %}
        <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-1" style="">
            {% if static_sec == 'system-update' %}
            <img src="/static/icons/run-build-install.svg" class="icon"
                 height="64px"
                 width="64px">
            {% elif static_sec == 'security-update' %}
            <img src="/static/icons/security-medium.svg" class="icon"
                 height="64px"
                 width="64px">
            {% elif static_sec == 'current_task' %}
                {% if current_task['icon'] == None %}
                    <img src="/static/icons/default.svg" class="icon" class="icon" height="64px" width="64px">
                {% else %}
                {% set app_list = current_task['icon'].split('/') %}
                {% set app_path = current_task['icon'].split(app_list[app_list|length - 1]) %}
                    <img src="{{ url_for('display_file', filepath=app_path[0], filename=app_list[app_list|length - 1]) }}" class="icon" height="64px" width="64px">
                {% endif %}
            {% elif static_sec == 'task' %}
                {% if task['details']['icon'] == None %}
                    <img src="/static/icons/default.svg" class="icon" height="64px"
                        width="64px">
                {% else %}
                {% set app_list = task['details']['icon'].split('/') %}
                {% set app_path = task['details']['icon'].split(app_list[app_list|length - 1]) %}
                    <img src="{{ url_for('display_file', filepath=app_path[0], filename=app_list[app_list|length - 1]) }}" class="icon" height="64px" width="64px">
                {% endif %}
            {% elif app['icon'] == None %}
            <img src="/static/icons/default.svg" class="icon" height="64px"
                 width="64px">
            {% else %}
            {% set app_list = app['icon'].split('/') %}
            {% set app_path = app['icon'].split(app_list[app_list|length - 1])
            %}
            {% if static_sec == 'library' %}
            <a href="/details?id={{ app['id'] }}" id="app-details-url" style="text-decoration:none;">
            <img src="{{ url_for('display_file', filepath=app_path[0], filename=app_list[app_list|length - 1]) }}"
                 class="icon" height="64px" width="64px">
            </a>
            {% else %}
            <img src="{{ url_for('display_file', filepath=app_path[0], filename=app_list[app_list|length - 1]) }}"
                 class="icon" height="64px" width="64px">
            {% endif %}
            {% endif %}
        </div>
        {% if summery == 'system' %}
        <div class="col-sm-7 col-md-8 col-lg-8 summery-system" style="padding-left:0;">
        {% elif summery == 'security' %}
        <div class="col-sm-7 col-md-8 col-lg-8 summery-security" style="padding-left:0;">
        {% else %}
        <div class="col-sm-7 col-md-8 col-lg-8 summery" style="padding-left:0;">
        {% endif %}
            {% if static_sec == 'system-update' %}
            <font size="4" style="color:#555;">{{ app }}</font>
            {% elif static_sec == 'security-update' %}
            <font size="4" style="color:#555;">{{ app }}</font>
            {% elif static_sec == 'current_task' %}
            <font size="4" style="color:#555;">{{ current_task['action']|capitalize }} {{ current_task['name'] }}</font>
            <break></break>
            <font size="2" style="color:#555;">{{ current_task['summery'] }}</font>
            {% elif static_sec == 'task' %}
            <font size="4" style="color:#555;">{{ task['details']['name'] }}</font>
            <break></break>
            <font size="2" style="color:#555;">{{ task['details']['summery'] }}</font>
            {% else %}
            {% if static_sec == 'library' %}
            <a href="/details?id={{ app['id'] }}" id="app-details-url" style="text-decoration:none;">
            <font size="4" style="color:#555;">{{ app['name'] }}</font>
            <break></break>
            <font size="2" style="color:#555;">{{ app['summery'] }}</font>
            </a>
            {% else %}
            <font size="4" style="color:#555;">{{ app['name'] }}</font>
            <break></break>
            <font size="2" style="color:#555;">{{ app['summery'] }}</font>
            {% endif %}
            {% endif %}
        </div>
            <div class="col-sm-4 col-md-3 col-lg-3 library-btn"
                 style="padding: 10px">
                {% include 'appbar-btn-progstat.html' %}
            </div>
        </div>
    </div>
    </a>
</div>
<style>
.app-bar{
box-shadow: 0px 2px 9px 3px rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
margin: 0 auto;
border: 0.01px solid #7F7F7F;
}

@media (max-width: 1199px){
    .summery{
        padding-left: 28px !important;
        }
    .summery-system{
        padding-left: 28px !important;
        }
    .summery-security{
        padding-left: 28px !important;
        }
        }
.summery{
    padding-top: 9px;
}
break{
   display: block;
   margin: -7px 0;
}

.library-btn{
    padding-top: 14px;
}
</style>
