{% extends 'main.html' %}
{% block content %}
<script>
document.onreadystatechange = function () {
  var state = document.readyState
  if (state == 'interactive') {
//        document.getElementById('contents').style.visibility="hidden";
  } else if (state == 'complete') {
      setTimeout(function(){
         document.getElementById('interactive');
         document.getElementById('load').style.visibility="hidden";
         document.getElementById('hidden').style.display="block";
         {% if data['thumbnails'] != None %}
            {% for screenshot in data['thumbnails'] %}
            load_image{{loop.index0}}();
            {% endfor %}
        {% endif %}
        {% if data['screenshots'] != None %}
            {% for screenshot in data['screenshots'] %}
            load_image{{loop.index0}}();
            {% endfor %}
        {% endif %}
      },1000);
  }
}
</script>
<style>
</style>
<link href='/static/styles/appDetails.css' rel='stylesheet' type='text/css'>
<div class="container-fluid fixed-top" style="background-color:#fff; box-shadow: inset 0px -1px 8px -10px #CCC, 3px -2px 8px 2px #CCC; border-top: 1px solid #ddd; position: fixed; z-index: 1000; width:100%; overflow-x: hidden; overflow-y: auto; height: 130px;">
  <div class="row" style="padding-top: 5px;">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        {% if data['icon'] == None %}
            <img src="/static/icons/default.png" class="icon pull-right">
        {% else %}
            {% set app_list = data['icon'].split('/') %}
            {% set app_path = data['icon'].split(app_list[app_list|length - 1]) %}
            <img src="{{ url_for('display_file', filepath=app_path[0], filename=app_list[app_list|length - 1]) }}" class="icon pull-right" height="100px" width="100px">
        {% endif %}
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xl-5" style="padding-top: 1px;">
        <font size="6" style="color:#333">{{data['name']}}</font>
        <br>
        <font style="color:#333">{{data['summery']}}</font>
        <hr style="margin-top: 4px; margin-bottom: 4px;">
        {% set rating_round = rating|round %}
        <font size="5" style="color:#333"> {{rating}} </font>&nbsp;
        {% for i in range(5) %}
            {% if i < rating_round %}
                <span class="fa fa-star checked"></span>
            {% else %}
                <span class="fa fa-star"></span>
            {% endif %}
        {% endfor %}
        <br>
        <font size="2" style="color:#999; line-height: 6px;"> {{rating_comments}} Ratings </font>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-3 col-lg-2 col-xl-2" style="padding-top: 34px;">
        {% if data['isInstalled'] == False %}
            <div class="row" style="padding-right: 47%;">
            <a href="/install/?id={{data['id']}}&p_type=apt" id="btn-install" class="btn btn-primary margin-7 pull-right" style="">Install</a>
            </div>
        {% else %}
            <div class="row" style="padding-right: 20%;">
                <a href="/remove/?id={{data['id']}}&p_type=apt" id="btn-open" class="btn btn-success margin-7 pull-right" style="">Open</a>
                <a href="/remove/?id={{data['id']}}&p_type=apt" id="btn-remove" class="btn btn-danger margin-7 pull-right" style="">Remove</a>
            </div>
        {% endif%}
    </div>
  </div>
  <style>
    .checked{
        color: #3daee9;
    }
    .margin-7{
        margin-right: 0px;
        margin-left: 7px;
        }
  </style>
</div>
<br>

<style>
#main-table{
    width:95%;
}
</style>
<div class="container" style="margin-top: 9%; display: none;">
  <h2>Task</h2>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" id="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:99%">
      40%
    </div>
  </div>
</div>
<table align="center" id="main-table">
    <tr>
        <td align="left" valign="top" style="border-right: 1px solid #ddd;">
            <div class="row">
            <div class="col-sm-12" id="app-description">
                <div id="description" style="margin-right: 38px;text-align:justify">
                {% set desc_len = description|length %}
                <font size="5" class="main-hearder-title">Description </font>
                    {{description|safe|truncate(500)}}
                    {% if desc_len >= 500 %}
                    <a data-toggle="collapse" data-target="#demo" onclick="myFunction()" style="text-decoration:none; cursor:pointer"> &nbsp;Show More</a>
                    {% endif %}
                </div>
                <div id="demo" class="collapse" style="margin-right: 38px; text-align:justify ">
                <font size="5" class="main-hearder-title">Description </font>
                    {{description|safe}}
                </div>
                <script>
                    function myFunction() {
                    var x = document.getElementById("description");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                    }
                </script>
                </div>
                <style>
                    #app-description{
                        line-height: 30px;
                    }
                </style>
            </div>
            <hr>
            <font size="5" class="main-hearder-title">Screenshots </font>
            <br>
            <br>
            <div class="row" id="hidden">
                <div class="col-xs-12 col-md-12 col-centered" style="width: 96.7%;">
                    <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="500000">
                        {% if (data['thumbnails'] == None) and (data['screenshots'] != None) %}
                            {% set screenshot_length = data['screenshots']|length %}
                        <div class="carousel-inner">
                            {% if screenshot_length == 0 %}
                                <div class="item active">
                                    <div class="carousel-col">
                                        <a href="/uploadScreenshot/?id={{ data['id'] }}" style="text-decoration:none"><div class="block img-responsive" style="background: url('/static/images/noScreenShot.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"> </div></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="carousel-col">
                                        <a href="/uploadScreenshot/?id={{ data['id'] }}" style="text-decoration:none"><div class="block img-responsive" style="background: url('/static/images/noScreenShot.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"> </div></a>
                                    </div>
                                </div>
                            {% elif screenshot_length == 1 %}
                                {% for screenshot in data['screenshots'] %}
                                    <div class="item active">
                                        <div class="carousel-col">
                                            <div class="block img-responsive" style="background: url({{screenshot}}); background-size: cover; background-repeat: no-repeat; background-position: center;" data-toggle="modal" data-target="#myModal2" onclick="modal_show('{{screenshot}}')"> </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="carousel-col">
                                            <a href="/uploadScreenshot/?id={{ data['id'] }}" style="text-decoration:none"><div class="block img-responsive" style="background: url('/static/images/noScreenShot.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"> </div></a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% elif screenshot_length == 2 %}
                                {% for screenshot in data['screenshots'] %}
                                    {% if loop.index == 1 %}
                                    <div class="item active">
                                            <div class="carousel-col">
                                                <div class="block img-responsive" style="background: url({{screenshot}}); background-size: cover; background-repeat: no-repeat; background-position: center;" data-toggle="modal" data-target="#myModal2" onclick="modal_show('{{screenshot}}')"> </div>
                                            </div>
                                        </div> 
                                    {% else %}
                                        <div class="item">
                                            <div class="carousel-col">
                                                <div class="block img-responsive" style="background: url({{screenshot}}); background-size: cover; background-repeat: no-repeat; background-position: center;" data-toggle="modal" data-target="#myModal2" onclick="modal_show('{{screenshot}}')"> </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="carousel-col">
                                                <a href="/uploadScreenshot/?id={{ data['id'] }}" style="text-decoration:none"><div class="block img-responsive" style="background: url('/static/images/noScreenShot.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"> </div></a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for screenshot in data['screenshots'] %}
                                    {% if loop.index == 1 %}
                                    <div class="item active">
                                            <div class="carousel-col">
                                                <div class="block img-responsive" style="background: url({{screenshot}}); background-size: cover; background-repeat: no-repeat; background-position: center;" data-toggle="modal" data-target="#myModal2" onclick="modal_show('{{screenshot}}')"> </div>
                                            </div>
                                        </div> 
                                    {% else %}
                                        <div class="item">
                                            <div class="carousel-col">
                                                <div class="block img-responsive" style="background: url({{screenshot}}); background-size: cover; background-repeat: no-repeat; background-position: center;" data-toggle="modal" data-target="#myModal2" onclick="modal_show('{{screenshot}}')"> </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            
                        </div>
                        {% elif (data['thumbnails'] != None) and (data['screenshots'] == None) %}
                        {% set screenshot_length = data['thumbnails']|length %}
                        {% if screenshot_length > 0 %}
                            {% for screenshot in data['thumbnails'] %}
                                <script>
                                    function load_image{{loop.index0}}(){
                                    var my_image{{loop.index0}} = new Image();
                                    my_image{{loop.index0}}.src = '{{ screenshot }}';
                                    }
                                </script>
                            {% endfor %}
                        {% endif %}
                        <div class="carousel-inner">
                            {% if screenshot_length == 0 %}
                                <div class="item active">
                                    <div class="carousel-col">
                                        <a href="/uploadScreenshot/?id={{ data['id'] }}" style="text-decoration:none"><div class="block img-responsive" style="background: url('/static/images/noScreenShot.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"> </div></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="carousel-col">
                                        <a href="/uploadScreenshot/?id={{ data['id'] }}" style="text-decoration:none"><div class="block img-responsive" style="background: url('/static/images/noScreenShot.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"> </div></a>
                                    </div>
                                </div>
                            {% elif screenshot_length == 1 %}
                                {% for thumbnails in data['thumbnails'] %}
                                    <div class="item active">
                                        <div class="carousel-col">
                                            <div class="block img-responsive" style="background: url({{thumbnails}}); background-size: cover; background-repeat: no-repeat; background-position: center;" data-toggle="modal" data-target="#myModal2" onclick="modal_show('{{data['screenshots'][loop.index0]}}')"> </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="carousel-col">
                                            <a href="/uploadScreenshot/?id={{ data['id'] }}" style="text-decoration:none"><div class="block img-responsive" style="background: url('/static/images/noScreenShot.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"> </div></a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% elif screenshot_length == 2 %}
                                {% for thumbnails in data['thumbnails'] %}
                                    {% if loop.index == 1 %}
                                    <div class="item active">
                                            <div class="carousel-col">
                                                <div class="block img-responsive" style="background: url({{thumbnails}}); background-size: cover; background-repeat: no-repeat; background-position: center;" data-toggle="modal" data-target="#myModal2" onclick="modal_show('{{data['screenshots'][loop.index0]}}')"> </div>
                                            </div>
                                        </div> 
                                    {% else %}
                                        <div class="item">
                                            <div class="carousel-col">
                                                <div class="block img-responsive" style="background: url({{thumbnails}}); background-size: cover; background-repeat: no-repeat; background-position: center;" data-toggle="modal" data-target="#myModal2" onclick="modal_show('{{data['screenshots'][loop.index0]}}')"> </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="carousel-col">
                                                <a href="/uploadScreenshot/?id={{ data['id'] }}" style="text-decoration:none"><div class="block img-responsive" style="background: url('/static/images/noScreenShot.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"> </div></a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for thumbnails in data['thumbnails'] %}
                                    {% if loop.index == 1 %}
                                    <div class="item active">
                                            <div class="carousel-col">
                                                <div class="block img-responsive" style="background: url({{thumbnails}}); background-size: cover; background-repeat: no-repeat; background-position: center;" data-toggle="modal" data-target="#myModal2" onclick="modal_show('{{data['screenshots'][loop.index0]}}')"> </div>
                                            </div>
                                        </div> 
                                    {% else %}
                                        <div class="item">
                                            <div class="carousel-col">
                                                <div class="block img-responsive" style="background: url({{thumbnails}}); background-size: cover; background-repeat: no-repeat; background-position: center;" data-toggle="modal" data-target="#myModal2" onclick="modal_show('{{data['screenshots'][loop.index0]}}')"> </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            
                        </div>
                        {% elif (data['thumbnails'] != None) and (data['screenshots'] != None) %}
                        <style>
                        .block {
                            background: url('https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif') center no-repeat;
                            }
                        </style>
                        {% set screenshot_length = data['thumbnails']|length %}
                        {% if screenshot_length > 0 %}
                            {% for screenshot in data['screenshots'] %}
                                <script>
                                    function load_image{{loop.index0}}(){
                                    var my_image{{loop.index0}} = new Image();
                                    my_image{{loop.index0}}.src = '{{ screenshot }}';
                                    }
                                </script>
                            {% endfor %}
                        {% endif %}
                        <div class="carousel-inner">
                            {% if screenshot_length == 0 %}
                                <div class="item active">
                                    <div class="carousel-col">
                                        <a href="/uploadScreenshot/?id={{ data['id'] }}" style="text-decoration:none"><div class="block img-responsive" style="background: url('/static/images/noScreenShot.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"> </div></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="carousel-col">
                                        <a href="/uploadScreenshot/?id={{ data['id'] }}" style="text-decoration:none"><div class="block img-responsive" style="background: url('/static/images/noScreenShot.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"> </div></a>
                                    </div>
                                </div>
                            {% elif screenshot_length == 1 %}
                                {% for thumbnails in data['thumbnails'] %}
                                    <div class="item active">
                                        <div class="carousel-col">
                                            <div class="block img-responsive" style="background: url({{thumbnails}}); background-size: cover; background-repeat: no-repeat; background-position: center;" data-toggle="modal" data-target="#myModal2" onclick="modal_show('{{data['screenshots'][loop.index0]}}')"> </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="carousel-col">
                                            <a href="/uploadScreenshot/?id={{ data['id'] }}" style="text-decoration:none"><div class="block img-responsive" style="background: url('/static/images/noScreenShot.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"> </div></a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% elif screenshot_length == 2 %}
                                {% for thumbnails in data['thumbnails'] %}
                                    {% if loop.index == 1 %}
                                    <div class="item active">
                                            <div class="carousel-col">
                                                <div class="block img-responsive" style="background: url({{thumbnails}}); background-size: cover; background-repeat: no-repeat; background-position: center;" data-toggle="modal" data-target="#myModal2" onclick="modal_show('{{data['screenshots'][loop.index0]}}')"> </div>
                                            </div>
                                        </div> 
                                    {% else %}
                                        <div class="item">
                                            <div class="carousel-col">
                                                <div class="block img-responsive" style="background: url({{thumbnails}}); background-size: cover; background-repeat: no-repeat; background-position: center;" data-toggle="modal" data-target="#myModal2" onclick="modal_show('{{data['screenshots'][loop.index0]}}')"> </div>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="carousel-col">
                                                <a href="/uploadScreenshot/?id={{ data['id'] }}" style="text-decoration:none"><div class="block img-responsive" style="background: url('/static/images/noScreenShot.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"> </div></a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for thumbnails in data['thumbnails'] %}
                                    {% if loop.index == 1 %}
                                    <div class="item active">
                                            <div class="carousel-col">
                                                <div class="block img-responsive" style="background: url({{thumbnails}}); background-size: cover; background-repeat: no-repeat; background-position: center;" data-toggle="modal" data-target="#myModal2" onclick="modal_show('{{data['screenshots'][loop.index0]}}')"> </div>
                                            </div>
                                        </div> 
                                    {% else %}
                                        <div class="item">
                                            <div class="carousel-col">
                                                <div class="block img-responsive" style="background: url({{thumbnails}}); background-size: cover; background-repeat: no-repeat; background-position: center;" data-toggle="modal" data-target="#myModal2" onclick="modal_show('{{data['screenshots'][loop.index0]}}')"> </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            
                        </div>
                        {% else %}
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="carousel-col">
                                        <a href="/uploadScreenshot/?id={{ data['id'] }}" style="text-decoration:none"><div class="block img-responsive" style="background: url('/static/images/noScreenShot.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"> </div></a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="carousel-col">
                                        <a href="/uploadScreenshot/?id={{ data['id'] }}" style="text-decoration:none"><div class="block img-responsive" style="background: url('/static/images/noScreenShot.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;"> </div></a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!-- Controls -->
                        <div class="left carousel-control">
                            <a href="#carousel" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <div class="right carousel-control">
                            <a href="#carousel" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                function modal_show(src){
                    $("#moda_img").attr("src",src);
                    }
            </script>
            <br>
            <br>
            <hr>
            
            <font size="5" class="main-hearder-title">Rating & Reviews </font>
            <br>
            <font size="3" class="main-hearder-title"><i>No reviews done yet. </i></font>
            <a style="text-decoration:none;"> <font size="2" style="cursor:pointer"> Write your own reviews </font></a>
            <hr>
            
            <font size="5" class="main-hearder-title">More from this category</font>
            <br>
            <br>
            <div class="row" style="margin-right: 5px; padding-right: 29px;">
            {% for related_app in related_app_list[:4]  %}
                <a href="/details?id={{ related_app['id'] }}" id="app-details-url" style="text-decoration:none; color: #666;">
                <div class="col-xm-3 col-sm-3 col-md-3 col-lg-3 col-xl-2 hover-box{{loop.index}}">
                    <div class="topApp-color{{loop.index}} app-box">
                    </div>
                    <div class="app-icon" align="center">
                        {% if related_app['icon'] == None %}
                            <img id="icon_topApps{{loop.index}}" src="/static/icons/default.png">
                        {% else %}
                            {% set app_list = related_app['icon'].split('/') %}
                            {% set app_path = related_app['icon'].split(app_list[app_list|length - 1]) %}
                            <img id="icon_topApps{{loop.index}}" src="{{ url_for('display_file', filepath=app_path[0], filename=app_list[app_list|length - 1]) }}" height="60px" width="60px">
                        {% endif %}
                    </div>
                    <div class="app-summery app-summery{{loop.index}}" align="center">
                        {{related_app['name']|truncate(15)}}
                        <br>
                        {{related_app['summery']|truncate(15)}}
                    </div>
                    <div>
                        <a href="/install/{{related_app['id']}}" id="btn-install" class="button btn{{loop.index}} btn btn-primary" style="">Install</a>
                    </div>
                    <script>
                        img = document.querySelector("#icon_topApps{{loop.index}}");
                        vibrant = new Vibrant(img);
                        $('.topApp-color{{loop.index}}').css('background-color', vibrant.LightVibrantSwatch.getHex());
                        
                        $(".hover-box{{loop.index}}").hover(function(){
                            $(".btn{{loop.index}}").css({'top':'64%', 'opacity':'1' });
                            $(".app-summery{{loop.index}}").css({'top':'64%', 'opacity':'0' });
                            }, function(){
                            $(".btn{{loop.index}}").css({'top':'87%', 'opacity':'0' });
                            $(".app-summery{{loop.index}}").css({'top':'64%', 'opacity':'1' });
                        });
                    </script>
                </div>
                </a>
            {% endfor %}
            </div>
            <br>
        </td>
        <style>
            .app-box{
            box-shadow: 0px 2px 9px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            height: 137px;
            padding: 15px;
            margin: 0 auto;
            border: 1px solid #6b6464e0;
            -webkit-filter: opacity(65%); /* Safari 6.0 - 9.0 */
            filter: opacity(65%);
            }

            .app-icon{
            position: absolute;
            top: 12%;
            display: block;
            margin: 0 auto;
            left: 0;
            right: 0;
            }

            .app-summery{
            width: 70%;
            position: absolute;
            top: 62%;
            margin: 0 auto;
            left: 0;
            right: 0;
            }

            .button{
            position: absolute;
            top:80%;
            opacity: 0;
            margin: 0 auto;
            left: 0;
            right: 0;
            }
            @media (max-width: 1199px){
                .app-box{
                    width: 100% !important;
                }
                }
                
            @media (min-width: 1200px){
                .app-box{
                    width: 87% !important;
                }
                }
        </style>
        <td style="width:200px" valign="top">
            <ul class="list-group">
                <li class="list-group-item">
                    <font size="3" style="font-weight: bold; color:#888;">Information &nbsp;</font>  <a style="text-decoration:none; display: none"> <font size="1" style="cursor:pointer"> Update Info </font></a>
                </li>
            </ul>
            <ul class="list-group">
                    {% if data['license'] != None %}
                        <li class="list-group-item">
                        <font size="2" class="info-title"><span class="glyphicon glyphicon-list-alt"></span> License</font>
                        {% set license_length = data['license']|length %}
                        {% if license_length >= 20 %}
                            <font size="2" style="" id="license-description-small" class="info">{{data['license']|truncate(20)}} &nbsp;<a data-toggle="collapse" data-target="#license-description" onclick="myFunction_description()"><sub><i class="fa fa-angle-down" style="font-size:16px"></i></sub></a></font>
                            <font size="2" style="" id="license-description" class="info collapse">{{data['license']}} <a data-toggle="collapse" data-target="#license-description" onclick="myFunction_description()" style="text-decoration:none;"> &nbsp; &nbsp;<i class="fa fa-angle-up" style="font-size:16px"></i></a></font>
                            <script>
                            function myFunction_description() {
                            var x = document.getElementById("license-description-small");
                            if (x.style.display === "none") {
                                x.style.display = "block";
                            } else {
                                x.style.display = "none";
                            }
                            }
                            </script>
                            
                        {% else %}
                        <font size="2" style="" class="info">{{data['license']}}</font>
                        {% endif %}
                        </li>
                {% endif %}

                    {% if data['developer'] == None %}
                        {% if 'org.kde' in data['id'] %}
                            {% set developer = ['The KDE Community'] %}
                        {% elif 'org.gnome' in data['id'] %}
                            {% set developer = ['The GNOME Project'] %}
                        {% else %}
                            {% set developer = ['Unknown'] %}
                        {% endif %}
                    {% else %}
                    {% set developer = data['developer'].split('<') %}
                    {% endif %}
                    
                    {% if developer[0] != 'Unknown' %}
                        <li class="list-group-item">
                            <font size="2" class="info-title"><span class="glyphicon glyphicon-user"></span> Developer</font>
                        {% set developer_length = developer[0]|length %}
                        {% if developer_length >= 11 %}
                            <font size="2" style="" id="developer-description-small" class="info">{{developer[0]|truncate(11)}} &nbsp;<a data-toggle="collapse" data-target="#developer-description" onclick="myFunction_developer_description()"><sub><i class="fa fa-angle-down" style="font-size:16px"></i></sub></a></font>
                            <font size="2" style="" id="developer-description" class="info collapse">{{developer[0]}} <a data-toggle="collapse" data-target="#developer-description" onclick="myFunction_developer_description()" style="text-decoration:none;"> &nbsp; &nbsp;<i class="fa fa-angle-up" style="font-size:16px"></i></a></font>
                            <script>
                            function myFunction_developer_description() {
                            var x = document.getElementById("developer-description-small");
                            if (x.style.display === "none") {
                                x.style.display = "";
                            } else {
                                x.style.display = "none";
                            }
                            }
                            </script>
                        {% else %}
                            <font size="2" style="" class="info">{{developer[0]}}</font>
                        {% endif %}
                    {% endif %}
                </li>
                {% if data['homepage'] != None %}
                <li class="list-group-item">
                    <font size="2" class="info-title"><span class="glyphicon glyphicon-home"></span> Homepage</font>
                    {% set category_length = data['homepage']|length %}
                    {% if category_length >= 11 %}
                            <font size="2" style="" id="homepage-description-small" class="info"> {{ data['homepage']|truncate(11) }}&nbsp;<a data-toggle="collapse" data-target="#homepage-description" onclick="myFunction_homepage_description()"><sub><i class="fa fa-angle-down" style="font-size:16px"></i></sub></a></font>
                            <font size="2" style="" id="homepage-description" class="info collapse">{{data['homepage']}} <a data-toggle="collapse" data-target="#homepage-description" onclick="myFunction_homepage_description()" style="text-decoration:none;"> &nbsp; &nbsp;<i class="fa fa-angle-up" style="font-size:16px"></i></a></font>
                        <script>
                        function myFunction_homepage_description() {
                        var x = document.getElementById("homepage-description-small");
                        if (x.style.display === "none") {
                            x.style.display = "";
                        } else {
                            x.style.display = "none";
                        }
                        }
                        </script>
                    {% else %}
                        <font size="2" style="" class="info">{{data['homepage']}}</font>
                    {% endif %}
                </li>
                {% endif %}
                
                {% if category[0] != None %}
                <li class="list-group-item">
                    <font size="2" class="info-title"><span class="glyphicon glyphicon-home"></span> Category</font>
                    {% set category_length = category[0]|length %}
                    {% if category_length >= 11 %}
                            <font size="2" style="" id="homepage-description-small" class="info"> {{ category[0]|truncate(11) }}&nbsp;<a data-toggle="collapse" data-target="#category-description" onclick="myFunction_category_description()"><sub><i class="fa fa-angle-down" style="font-size:16px"></i></sub></a></font>
                            <font size="2" style="" id="category-description" class="info collapse">{{category[0]}} <a data-toggle="collapse" data-target="#category-description" onclick="myFunction_category_description()" style="text-decoration:none;"> &nbsp; &nbsp;<i class="fa fa-angle-up" style="font-size:16px"></i></a></font>
                        <script>
                        function myFunction_category_description() {
                        var x = document.getElementById("category-description-small");
                        if (x.style.display === "none") {
                            x.style.display = "";
                        } else {
                            x.style.display = "none";
                        }
                        }
                        </script>
                    {% else %}
                        <font size="2" style="" class="info">{{category[0]}}</font>
                    {% endif %}
                </li>
                {% endif %}
            </ul>
            {% if addons|length %}
            <ul class="list-group">
                <li class="list-group-item">
                    <font size="3" style="font-weight: bold;">Extensions</font>
                </li>
            </ul>
            <ul class="list-group">
                {% for addon in addons %}
                <a href="/details?id={{ addon['id'] }}" style="text-decoration:none; color: #666;">
                <li class="list-group-item">
                    <table width="100%">
                        <tr>
                            <td width="35%" valign="top">
                                {% if addon['icon'] == None %}
                                <img src="/static/icons/default.png" width="50px" height="50px">
                                {% else %}
                                {% set addonIcon_list = addon['icon'].split('/') %}
                                {% set addonIcon_path = addon['icon'].split(addonIcon_list[addonIcon_list|length - 1]) %}
                                <img src="{{ url_for('display_file', filepath=addonIcon_path[0], filename=addonIcon_list[addonIcon_list|length - 1]) }}" width="50px" height="50px">
                                {% endif %}
                            </td>
                            <td>
                                <font size="2" style="font-weight: bold;">{{ addon['name'] }}</font>
                                </br>
                                <font size="1">{{ addon['summery'] }}</font>
                            </td>
                        </tr>
                    </table>
                </li>
                </a>
                {% endfor %}
            </ul>
            {% endif %}
        </td>
    <tr>
</table>


<!-- Modal -->
<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="width: 100%;"  align="center">
                <button type="button" class="close pull-left" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img id="moda_img" src="/static/images/noScreenShot.jpg" width="90%" align="center" style="padding-top: 10%">
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>

<!--     to keep aspect ratio of boxes same -->
    <script>
        var aspect_ratio_box2 = .5625;


        var $box2 = jQuery("#moda_img");

        consol.log($box2.width());
        jQuery(document).ready(function($) {
        $box2.height( $box2.width() * aspect_ratio_box2 );
        });


        jQuery(window).resize(function() {
        $box2.height( $box2.width() * aspect_ratio_box2 );
        });
    </script>
<!--     to keep aspect ratio of boxes same END-->

<script>
$('#myModal2').click(function(){
   $('#myModal2').modal('hide');
});
</script>
<!-- modal -->

<link href="/static/styles/multip-Cousel.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/static/js/multip-Cousel.js"></script>

{% endblock %}
