<style>
.pheadingimage {
  margin-top: -10px !important;
}

</style>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 padding5">
    <a href="/superxstore/details/id/package/"
       style="text-decoration: none; cursor: cursor;">
        <div class="hover1">
            <div class="panel panel-default switch-hover1 border1 vibrant1"
                 style="background-image: url('static/icons/default.png'); background-size:cover;  background-repeat: no-repeat;">
                <div class="panel-heading pheadeing1" style="padding: 0px;">

                    <div class="image-app background1"
                         style="width:100%; height:150px; text-align:center; ">
                        <img src="a.png" draggable="false"
                             class="iconNotHover icon1"
                             onerror="this.src='static/icons/default.png'"
                             style="width:70px;height:70px; margin-top: 11%; filter:none;">
                        <h4 class="app_name"
                            style="color:#ffffff;text-align:center;font-weight:900; font-size:150%; text-shadow:5px 5px 10px #000000; padding-top: 0px;">
                            Name</h4>
                        <h4 class="text-app"
                            style="display:none; color:#ffffff;text-align:center;font-weight:900; font-size:150%; text-shadow:5px 5px 10px #000000; padding-top: 15px;">
                            Name</h4>
                    </div>
                </div>
                <div class="panel-body pbody ph1"
                     style="padding: 0px;height:45px;text-align:center;line-height: 1.5em;">
                    <small class="deptxt" style="color:#000;">Summery</small>
                    <div class="star-rating" style="text-align:center">
                        {% for value in 5%}
                        {% if forloop.counter <= app.rating %}
                        <i class="price-text-color fa fa-star"
                           style="font-size:15px;"></i>
                        {% else %}
                        <i class="fa fa-star"
                           style="color:#A9A9A9;font-size:15px;"></i>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <script>
					var image = new Image();
					  image.src = "{{ app.apptile }}";
					  if (image.width == 0) {
// 						  alert("no image2");
						  if (image.width == 0) {
						  $( ".background{{forloop.counter}}" ).addClass( "bckgrnd2" );
						  $( ".ph{{forloop.counter}}" ).addClass( "pnoimage" );
						  $( ".pheadeing{{ forloop.counter }}" ).addClass( "pheadingnoimage" );
						  img = document.querySelector(".icon{{ forloop.counter }}");
// 						  alert('deep');
						  vibrant = new Vibrant(img);
// 						  alert(vibrant.VibrantSwatch.getHex());
						  $('.vibrant{{ forloop.counter }}').css('background-color', vibrant.VibrantSwatch.getHex());

						}
					  }
					  else{
						  $( ".pheadeing{{ forloop.counter }}" ).addClass( "pheadingimage" );
						  $( ".ph{{forloop.counter}}" ).addClass( "pimage" );
						}
// 					if ($('.switch-hover1').css('background-image') != 'none') {
// 					    alert('There is a background image');
// 					    $( "#background" ).addClass( "bckgrnd" );
// 					  }

                </script>
            </div>
    </a>
    <a onclick="installApp('{{ app.package}}')"
       href="/superxstore/insertapp/install->{{ app.package }}" id="bton"
       class="btn btn-warning" style="cursor: cursor;">Install</a>
    <a href="/superxstore/details/{{ app.id }}/{{ app.package }}/{{ app.package }}"
       style="text-decoration: none; cursor: cursor;">
        <img class="icon" src="static/icons/default.png" draggable="false"
             onerror="this.src='static/icons/default.png'" style="">
    </a>
</div>
</div>
