{% extends 'main.html' %}
{% block content %}
<script>
document.onreadystatechange = function () {
  var state = document.readyState
  if (state == 'interactive') {
//        document.getElementById('contents').style.visibility="hidden";
  } else if (state == 'complete') {
      setTimeout(function(){
         document.getElementById('interactive');
         document.getElementById('load').style.visibility="hidden";
         document.getElementById('hidden').style.display="block";
         {% if app['thumbnails'] != None %}
            {% for screenshot in app['thumbnails'] %}
            load_image{{loop.index0}}();
            {% endfor %}
        {% endif %}
        {% if app['screenshots'] != None %}
            {% for screenshot in app['screenshots'] %}
            load_image{{loop.index0}}();
            {% endfor %}
        {% endif %}
      },1000);
  }
}
</script>
<style>
</style>
<link href='/static/styles/appDetails.css' rel='stylesheet' type='text/css'>
{% include 'header.html' %}
<script>
    function setProgress(x, current_task_id){
    if ('{{app["id"]}}' == current_task_id){
    var style="linear-gradient(90deg, #3baee950 "+x+"%, #0000ff00 0%)";
    $('.fixed-top').css("background", style);
    $('#progress_percent').html('<font size="6" class="pull-right">'+x+'%</font>');
    }
    }
</script>
<br>
<style>
#main-table{
    width:95%;
    margin-top: 130px;
}
</style>

{{ current_progress }}
<table align="center" id="main-table">
    <tr>
        <td align="left" valign="top" style="border-right: 1px solid #ddd;">
            <div class="row">
            <div class="col-sm-12" id="app-description">
                <div id="description" style="margin-right: 38px;text-align:justify">
                {% set desc_len = description|length %}
                <font size="5" class="main-hearder-title">Description </font>
                    {{description|safe|truncate(500)}}
                    {% if desc_len >= 500 %}
                    <a data-toggle="collapse" data-target="#demo" onclick="myFunction()" style="text-decoration:none; cursor:pointer"> &nbsp;Show More</a>
                    {% endif %}
                </div>
                <div id="demo" class="collapse" style="margin-right: 38px; text-align:justify ">
                <font size="5" class="main-hearder-title">Description </font>
                    {{description|safe}}
                </div>
                <script>
                    function myFunction() {
                    var x = document.getElementById("description");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                    }
                </script>
                </div>
                <style>
                    #app-description{
                        line-height: 30px;
                    }
                </style>
            </div>
            <hr>
            {% include 'appDetails_carousel.html' %}
            <br>
            <br>
            <hr>
            
            <div style="width: 97%;">
            <font size="5" class="main-hearder-title">Rating & Reviews </font>
            <br>
            <!--<font size="3" class="main-hearder-title"><i>No reviews done yet. </i></font>
            <a style="text-decoration:none;"> <font size="2" style="cursor:pointer"> Write your own reviews </font></a>-->
            
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <table width="100%">
                        <tr>
                            <td width="50%" align="left" valign="bottom">
                                <table>
                                    <tr>
                                        <font size="8"> 4.2 </font>
                                    </tr>
                                    <tr>
                                        <font size="4"> out of 5 </font>
                                    </tr>
                                </table>
                            <td>
                            <td width="50%" align="right" valign="bottom">
                                <table>
                                    <tr>
                                        <font size="4"> 499 Ratings </font>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    Progress
                </div>
            </div>
            <hr style="margin-top: 2px;margin-bottom: 2px;">
            
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <table width="100%">
                        <tr>
                            <td width="50%" align="left" valign="bottom">
                                <font size="4"> Click to Rate </font>
                            <td>
                            <td width="50%" align="right" valign="bottom">
                                <table>
                                    <tr>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <table width="100%">
                        <tr>
                            <td width="50%" align="left" valign="bottom">
                                <font size="4"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp;Write a review </font>
                            <td>
                            <td width="50%" align="right" valign="bottom">
                                <table>
                                    <tr>
                                        <a href="#"> App Support? </a>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <table width="100%">
                        <tr>
                            <td width="60%" align="left">
                                <font size="1"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Lorem Ipsum is simply dummy text </font></br>
                                <font size="1"><i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i></font>
                            <td>
                            <td width="60%" align="right">
                                <font size="1"> Lorem Ipsum </font></br>
                                <font size="1"> 1 Year Ago </font>
                            <td>
                        </tr>
                    </table>
                    </br>
                    <div class="review-details">
                        <div class="review-details-inner">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <table width="100%">
                        <tr>
                            <td width="60%" align="left">
                                <font size="1"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Lorem Ipsum is simply dummy text </font></br>
                                <font size="1"><i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i></font>
                            <td>
                            <td width="60%" align="right">
                                <font size="1"> Lorem Ipsum </font></br>
                                <font size="1"> 1 Year Ago </font>
                            <td>
                        </tr>
                    </table>
                    </br>
                    <div class="review-details">
                        <div class="review-details-inner">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div>
            <hr>
            
            <font size="5" class="main-hearder-title">More from this category</font>
            <br>
            <br>
            <div class="row" style="margin-right: 5px; padding-right: 29px;">
            {% include 'appBox.html' %}
            </div>
            <br>
            <br>
        </td>
        <td style="width:200px" valign="top">
            <ul class="list-group">
                <li class="list-group-item">
                    <font size="3" style="font-weight: bold; color:#888;">Information &nbsp;</font>  <a style="text-decoration:none; display: none"> <font size="1" style="cursor:pointer"> Update Info </font></a>
                </li>
            </ul>
            <ul class="list-group">
                {% if app['license'] != None %}
                        <li class="list-group-item">
                        <font size="2" class="info-title"><a href="#" data-toggle="tooltip" data-placement="top" style="text-decoration: none; width: 168px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;" title="{{app['license']}}"><font size="2" class="info"><span class="glyphicon glyphicon-list-alt"></span> License: {{app['license']}}</font></a></font>
                        </li>
                {% endif %}

                {% if app['developer'] == None %}
                {% if 'org.kde' in app['id'] %}
                            {% set developer = ['The KDE Community'] %}
                {% elif 'org.gnome' in app['id'] %}
                            {% set developer = ['The GNOME Project'] %}
                        {% else %}
                            {% set developer = ['Unknown'] %}
                        {% endif %}
                    {% else %}
                {% set developer = app['developer'].split('<') %}
                    {% endif %}
                    
                {% if developer[0] != 'Unknown' %}
                    <li class="list-group-item">
                        <font size="2" class="info-title"><a href="#" data-toggle="tooltip" data-placement="top" style="text-decoration: none; width: 168px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;" title="{{developer[0]}}"><font size="2" class="info"><font size="2" class="info-title"><span class="glyphicon glyphicon-user"></span> Developer:</font> {{developer[0]}}</font></a></font>
                    </li>
                {% endif %}
                {% if app['homepage'] != None %}
                <li class="list-group-item">
                    <font size="2" class="info-title"><a href="#" data-toggle="tooltip" data-placement="top" style="text-decoration: none; width: 168px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;" title="{{app['homepage']}}"><font size="2" class="info"><font size="2" class="info-title"><span class="glyphicon glyphicon-home"></span> Homepage:</font> {{app['homepage']}}</font></a></font>
                </li>
                {% endif %}
                
                {% if category[0] != None %}
                <li class="list-group-item">
                    <font size="2" class="info-title"><a href="#" data-toggle="tooltip" data-placement="top" style="text-decoration: none; width: 168px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display: block;" title="{{category[0]}}"><font size="2" class="info"><font size="2" class="info-title"><font size="2" class="info-title"><span class="glyphicon glyphicon-home"></span> Category:</font> {{category[0]}}</font></a></font>
                </li>
                {% endif %}
            </ul>
            {% if addons|length %}
            <ul class="list-group">
                <li class="list-group-item">
                    <font size="3" style="font-weight: bold;">Extensions</font>
                </li>
            </ul>
            <ul class="list-group">
                {% for addon in addons %}
                <a href="/details?id={{ addon['id'] }}" style="text-decoration:none; color: #666;">
                <li class="list-group-item">
                    <table width="100%">
                        <tr>
                            <td width="35%" valign="top">
                                {% if addon['icon'] == None %}
                                <img src="/static/icons/default.svg" height="64px">
                                {% else %}
                                {% set addonIcon_list = addon['icon'].split('/') %}
                                {% set addonIcon_path = addon['icon'].split(addonIcon_list[addonIcon_list|length - 1]) %}
                                <img src="{{ url_for('display_file', filepath=addonIcon_path[0], filename=addonIcon_list[addonIcon_list|length - 1]) }}" width="50px" height="50px">
                                {% endif %}
                            </td>
                            <td>
                                <font size="2" style="font-weight: bold;">{{ addon['name'] }}</font>
                                </br>
                                <font size="1">{{ addon['summery'] }}</font>
                            </td>
                        </tr>
                    </table>
                </li>
                </a>
                {% endfor %}
            </ul>
            {% endif %}
        </td>
    <tr>
</table>


<!-- Modal -->
<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="width: 100%;"  align="center">
                <button type="button" class="close pull-left" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img id="moda_img" src="/static/images/noScreenShot.jpg" width="90%" align="center" style="padding-top: 10%">
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>



<script>
$('#myModal2').click(function(){
   $('#myModal2').modal('hide');
});
</script>
<!-- modal -->

<link href="/static/styles/multip-Cousel.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="/static/js/multip-Cousel.js"></script>
<style>
    .review-details{
        background-color: #3baee950;
    }
    
    .review-details-inner{
        width:100%;
        text-align: justify;
        padding: 15px;
    }
</style>
{% endblock %}
