{% extends 'main.html' %}
{% block content %}
<script>
$(document).ready(function(){
 $('#home').addClass('active');
});
</script>
<link href="static/styles/styleBorder.css" rel="stylesheet">
<link href="static/styles/apptileHover.css" rel="stylesheet">
<!--<script>
alert = function(mesg) {console.trace(mesg)}
</script>-->
<style>
#see_more{
  margin-top:1px;
  margin-left: 14px;
  text-decoration:none;
}

#see_more:hover{
  color: #555;
}
</style>
<div id="main">
    <div class="container-fluid" style="border-top: 1px solid #ddd;">
        <div class="row" style="">
            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9 padding-0" style="background-image: url(/static/images/index/{{ image_list.0 }});
      background-size: 100% 100%;
    background-repeat: no-repeat; height: 40%; padding-top: 10%;">
            
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 padding-0" style="height: 40%;">
                <div>
                    <div align="center" style="background-image: url(/static/images/index/{{ image_list.1 }});
      background-size: 100% 99%;
    background-repeat: no-repeat; height: 50%;">
                        
                    </div>
                    <div align="center" style="background-image: url(/static/images/index/{{ image_list.2 }});
      background-size: 100% 99%;
    background-repeat: no-repeat; height: 50%; margin-top: 1%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .padding-0{
            padding-right:0;
            padding-left: 3px;
        }

    </style>
    
<!--     to keep aspect ratio of boxes same -->
    <script>
        var aspect_ratio_box2 = 0.6


        var $box2 = jQuery(".container-fluid");


        jQuery(document).ready(function($) {
        $box2.height( $box2.width() * aspect_ratio_box2 );
        });


        jQuery(window).resize(function() {
        $box2.height( $box2.width() * aspect_ratio_box2 );
        });
    </script>
<!--     to keep aspect ratio of boxes same END-->
    <div id="wrapper">
        <div class="overlay"></div>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="col-md-12" style="padding-top: 150px;">
                <div class="container">
                    <div class="row">
                            <div class="row" style="padding-top: 5px;">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h3>  Top Apps </h3>
                                    </div>
                                </div>
                                <br>
                                <div class="row">

                                </div>

                                <div class="row">
                                    <div class="col-md-11">
                                    </div>
                                    <a href="#" id="see_more">  See more</a>
                                </div>
                                </br>
                                </br>
                            </div>

                        </div>
                    </div>
                </div>
        </div>
        <div id="page-content-wrapper">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                            <div class="row" style="padding-top: 1px;">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h3> Editor's Choice</h3>
                                    </div>
                                </div>
                                <br>
                                <div class="row">

                                </div>

                                <div class="row">
                                    <div class="col-md-11">
                                    </div>
                                    <a href="#" id="see_more">  See more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>



        <div id="page-content-wrapper">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                            <div class="row" style="padding-top: 1px;">
                                <div class="row">
                                    <div class="col-md-11">
                                        <h3>  New Apps </h3>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    {% include 'appDisplay.html' %}
                                </div>
                                <div class="row">
                                    <div class="col-md-11">
                                    </div>
                                    <a href="#" id="see_more">  See more</a>
                                </div>
                                </br>
                                </br>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
</div>
</div>
<div id="sumModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modalhead"></h4>
      </div>
      <div class="modal-body" style="float:left">
        <p id = "modalbody">Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<script type="text/javascript" src="static/js/index.js"></script>

<style>
.slick-list .draggable{
  height: 500px;
}
</style>


{% endblock %}
