{% extends 'main.html' %}
{% block content %}
<br>
<link href='/static/styles/apptileHover.css' rel='stylesheet' type='text/css'>
<style>
.hover10:hover{
    height: 5%;
    background-color: transparent;
}
</style>
<div class="container">
    <h3 style="padding-bottom: 20px">Your applications from present and past in one place</h3>
    <ul class="nav nav-tabs" style="background-color:#F0F0F0">
        <li class="active hover10"><a data-toggle="tab" href="#appUpdates">Installed on this Computer</a></li>
        <li class="hover10"><a data-toggle="tab" href="#sysUpdates">Installed on your other Computers</a></li>
        <li class="hover10"><a data-toggle="tab" href="#sysUpdates">Previously Installed</a></li>
    </ul>
    <br>
<div class="tab-content">
  <div id="appUpdates" class="tab-pane fade in active">
  {% include 'appDisplay.html' %}
  </div>
</div>
    <div>
        <a href="#" style="padding-right: 10px">Privacy Policy</a>
        <a href="#" style="padding-right: 10px">Delete my account and data</a>
    </div>
</div>

<style>
@media (max-width: 1199px){
    .summery{
        padding-left: 28px !important;
        }
        }
.summery{
    padding-top: 9px;
}
break{
   display: block;
   margin: -7px 0;
}
</style>


{% endblock %}
