<html>
<head>
    <!-- for-mobile-apps -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <style>
  .container { width: @container-desktop !important; }


    </style>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Music Life Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- //for-mobile-apps -->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">


    <script type="text/javascript"></script>


    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300'
          rel='stylesheet' type='text/css'>
    <link href="/static/btn-ripple.css" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="/static/scroll-bar.css" rel="stylesheet" type="text/css"
          media="all"/>
    <link href="/static/custom_btn.css" rel="stylesheet">
    <link href="/static/styles/styleapp.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/styles/style.css" rel="stylesheet">
    <link href="/static/styles/details.css" rel="stylesheet">
    <link href="/static/categories/css/style.css" rel="stylesheet"
          type="text/css" media="all"/>
    <link href="/static/categories/css/bootstrap.css" rel="stylesheet"
          type="text/css" media="all"/>
    <link href="/static/categories/css/component.css" rel="stylesheet"
          type="text/css" media="all"/>
    <script type="text/javascript"
            src="/static/categories/js/modernizr.custom.js"></script>
    <script type="text/javascript"
            src="/static/categories/js/jquery-1.11.1.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <script type="text/javascript"
            src="/static/categories/js/move-top.js"></script>
    <script type="text/javascript"
            src="/static/categories/js/easing.js"></script>

    <script type="text/javascript" src="/static/slider/jssor.core.js"></script>
    <script type="text/javascript"
            src="/static/slider/jssor.slider.js"></script>
    <script type="text/javascript"
            src="/static/slider/jssor.utils.js"></script>
    <script type="text/javascript" src="/static/js/TweenMax.min.js"></script>
    <script type="text/javascript" src="/static/js/TweenLite.min.js"></script>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles/animate.min.css" rel="stylesheet">
    <link href="/static/slider/slider_style.css" rel="stylesheet">
    <link href="/static/styles/font-awesome.min.css" rel="stylesheet">
    <script src="/static/bootstrap/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/slider.css">
    <script src="/static/slider.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <link href="/static/styles/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/custom.css">
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $(".scroll").click(function(event){
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
    });

    </script>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript"
            src="/static/categories/js/hover_pack.js"></script>
    <script>
document.onreadystatechange = function () {
  var state = document.readyState
  if (state == 'interactive') {
//        document.getElementById('contents').style.visibility="hidden";
  } else if (state == 'complete') {
      setTimeout(function(){
         document.getElementById('interactive');
         document.getElementById('load').style.visibility="hidden";
//          document.getElementById('contents').style.visibility="visible";
      },1000);
  }
}

    </script>
</head>
<body>

<!-- Page loader -->
<div id="load">
    <div>
        <svg id="svgMain" align="center" xmlns="http://www.w3.org/2000/svg"
             width="120" height="120" viewBox="0 0 120 120">
            <path d="M10.63 67.866c2.804 17.89 16.075 33.566 33.226 39.344 16.4 5.982 35.69 2.054 48.75-9.428 11.367-9.702 18-24.7 17.353-39.647l-9.229-3.502c1.712 12.947-3.252 31.925-22.123 41.896-18.87 9.97-38.063 1.052-45.388-5.395-1.457-2.869 1.464-9.329 1.464-9.329 1.283-2.49-.348-3.798-2.518-4.36z"
                  fill="#3daee9"/>
            <path d="M109.403 52.065c-2.833-17.835-15.96-33.597-33.124-39.33-17.414-6.24-37.99-1.478-51.104 11.506-10.029 9.653-15.796 23.668-15.125 37.6l9.23 3.144c-2.244-18.607 8.083-34.53 22.48-41.717 14.396-7.187 32.285-5.23 44.852 5.574 1.457 2.868 1.082 3.505-1.286 9.328-1.284 2.493.35 3.798 2.522 4.356z"
                  fill="#f67400"/>
        </svg>
    </div>
</div>


<style>
#load{
width:100%;
height:100%;
position:fixed;
z-index:9999;
background:rgb(249,249,249)
}
#svgMain {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
animation: rotate 1.4s linear infinite;
-webkit-animation: rotate 1.4s linear infinite;
-moz-animation: rotate 1.4s linear infinite;
}
#svgrefresh {
transform: translate(-20%, -20%);
animation: rotate 1.4s linear infinite;
-webkit-animation: rotate 1.4s linear infinite;
-moz-animation: rotate 1.4s linear infinite;
}

</style>

{% block content %}

{% endblock %}
<script type="text/javascript" src="/static/js/appdetail.js"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
window.alert = function(msg) { debugger; }

  function finish(download_count,hw_id,h_name)
  {
    $.get('/completepost/',{d_count:download_count, hardware_id : hw_id, hostname : h_name}, function(data) {
      // setTimeout(function(){ location.reload(); }, 3000);
      if(window.location.href.includes("update") == true)
      {
        document.title="get_updates";
      }
      else {
          location.reload();
      }

    });
    // document.title="after";



  }
  function updatefinish(hw_id)
  {
    $.get('/completeupdate/', function(data) {
      if(window.location.href.includes("update") == true)
      {
        // setTimeout(function(){   window.location = "/home/" + hw_id; }, 2000);
        document.title="get_updates";
      }
      else {
        setTimeout(function(){ location.reload(); }, 2000);
      }
    });

  }

  function tryupdate(update_list)
  {
    $.get('/tryupdate/', {updates : update_list}, function(data) {
       window.location = "/update";
    });
  }

  function sendhwid(hw_id)
  {
    $.get('/sendhwid/',{ hardware_id:hw_id }, function(data) {
      window.location = "/library/" + hw_id;
    });
  }
  function sendhwidSource(hw_id)
  {
    $.get('/sendhwid/',{ hardware_id:hw_id }, function(data) {
      window.location = "/showsources/" + hw_id;
    });
  }

  function nothing_signal()
  {
    document.getElementById("btn-install").style.display="";
  }

  function removeApp(str){
    document.title = "remove->"+str;
    //  $('#install').css("display", "none");
    //  $('#cancel').css("display", "block");
    //  $('#installprogress').css("display", "block");
    console.log(str);
  }


  function upgradeApp(str){
    document.title = "upgrade->"+str;
    //  $('#install').css("display", "none");
    //  $('#cancel').css("display", "block");
    //  $('#installprogress').css("display", "block");
    console.log(str);
  }

  function install_signal()
  {
//     document.getElementById("btn-open").style.display="";
    document.getElementById("btn-remove").style.display="";
  }
  function upgrade_signal()
  {
    document.getElementById("btn-open").style.display="";
    document.getElementById("btn-upgrade").style.display="";
    document.getElementById("btn-remove").style.display="";
  }

  function openApp(str1,str2)
  {
    str = str1 + "," + str2;
    document.title = "openapp->"+str;
  }



</script>

<script type="text/javascript" src="/static/js/body_jquery.js"></script>
<script type="text/javascript" src="/static/js/modal.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
<script>
$( document ).ready(function()
{
    $(function()
    {
        $.material.init();
    });
});

</script>
</body>
</html>
