{% extends 'main.html' %}
{% block content %}
<head>

</head>
<body>
<div class="container">
  <h2>Tasks</h2>
    {% if current_task != None %}
    {% set show_progress = True %}
    {% set static_sec = 'current_task' %}
    {% include 'app-bar.html' %}
  {% else %}
  No Current Task
  {% endif %}
  
    {% if task != [] %}
        {% set static_sec = 'task' %}
        {% set show_progress = Flase %}
        {% set show_pending = True %}
        {% for task in tasks %}
        {% include 'app-bar.html' %}
        {% endfor %}
    {% endif %}
</div>
</div>
<script>
//     $(document).ready(function() { 
//         setProgress({{current_task['progress']}}, {{current_task['id']}});
//     });
    function setProgress(x, current_task_id){
    var style="linear-gradient(90deg, #3baee950 "+x+"%, #0000ff00 0%)";
    $('#current_task').css("background", style);
    $('.progress_percent').html(x+'%');
    }
</script>

<!--<style>
.notFoundGIF{
    margin: 0 auto;
}
</style>-->
{% endblock %}




