{% extends 'main.html' %}
{% block content %}
{% set icon = 'update' %}
{% set title = 'update' %}
{% set sub_title = 'update' %}
{% set header_btn = 'update' %}
{% include 'header.html' %}

<script>
    function setProgress(x, current_task_id){
    if (current_task_id == 'upgrade'){
    var style="linear-gradient(90deg, #3baee950 "+x+"%, #0000ff00 0%)";
    $('.fixed-top').css("background", style);
    $('#progress_percent').html('<font size="6" class="pull-right">'+x+'%</font>');
    }
    }
</script>
<div class="container" style="padding-top: 180px;">
    <ul class="nav nav-tabs" style="background-color:#F0F0F0;">
        <li class="active hover10"><a data-toggle="tab" href="#appUpdates"><span class="label label-primary">{{updates[0]|length}}</span> &nbsp;Application Updates</a></li>
        <li class="hover10"><a data-toggle="tab" href="#sysUpdates"><span class="label label-info">{{updates[1]|length}}</span> &nbsp;System
            Updates</a></li>
        <li class="hover10"><a data-toggle="tab" href="#secUpdates"><span class="label label-danger">{{updates[2]|length}}</span> &nbsp;Security
            Updates</a></li>
    </ul>
    <br>
    <div class="tab-content" style="padding-bottom: 30px;">
        <div id="appUpdates" class="tab-pane fade in active">
            {% for app in updates[0] %}
            {% include 'app-bar.html' %}
            {% endfor %}
        </div>
        <div id="sysUpdates" class="tab-pane fade">
            {% set static_sec = 'system-update' %}
            {% set summery = 'system' %}
            {% for app in updates[1] %}
                    {% include 'app-bar.html' %}
            {% endfor %}
            <style>
                .summery-system{
                    padding-top: 16px !important;
                }
            </style>
        </div>
        <div id="secUpdates" class="tab-pane fade">
            {% set static_sec = 'security-update' %}
            {% set summery = 'security' %}
            {% for app in updates[2] %}
                {% include 'app-bar.html' %}
            {% endfor %}
            <style>
            .summery-security{
                padding-top: 16px !important;
            }
            </style>
        </div>

    </div>
</div>
<style>
.app-bar{
box-shadow: 0px 2px 9px 3px rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
margin: 0 auto;
border: 0.01px solid #7F7F7F;
}

@media (max-width: 1199px){
    .summery{
        padding-left: 28px !important;
        }
        }
.summery{
    padding-top: 9px;
}
break{
   display: block;
   margin: -7px 0;
}

.library-btn{
    padding-top: 14px;
}

</style>
{% endblock %}
